numpy<2.5
pandas
matplotlib
scikit-learn

--extra-index-url https://download.pytorch.org/whl/cu128
torch==2.11.0+cu128
torchvision==0.26.0+cu128

scipy

pyyaml

tqdm

shap

captum

joblib
seaborn